# Python
venv/
__pycache__/
*.pyc

# Logs
*.log

# VS Code
.vscode/

# System
.DS_Store
Thumbs.db

# Temp or data files
*.xlsx
*.txt
!rawQuestions.txt
!answers.txt
*.jpg
.env
*.json

Some codes
!requirements.txt